<nav class="navbar navbar-expand-lg navbar-light bg-light">
     
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" routerLink='/applicanthome'> Applicant Home <span class="sr-only">(current)</span></a>
            </li>
            <div class="dropdown">
                <li class="dropbtn">Activities <i class="fa fa-caret-down"></i> </li>
                <div class="dropdown-content">
        <li class="nav-item">
          <a class="nav-link" routerLink='/applicanthome/applicantactivities'> My Activities <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink='/applicanthome/applicanthistory'> My History <span class="sr-only">(current)</span></a>
          </li>
             </div>
        </div>
        <li class="nav-item">
            <a class="nav-link" routerLink='/applicanthome/editapplicant'> Edit Applicant <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
              <a class="nav-link" routerLink='/logout'> Logout <span class="sr-only">(current)</span></a>
            </li>

       
      </ul>
    </div>
</nav>

